@import "tailwindcss";

html{
scroll-behavior:smooth;
}

body{

margin:0;

padding:0;

background:#080808;

color:white;

font-family:'Poppins',sans-serif;

overflow-x:hidden;

}

*{

box-sizing:border-box;

}

.glass{

background:rgba(255,255,255,.05);

backdrop-filter:blur(15px);

border:1px solid rgba(255,255,255,.08);

}

.gradient{

background:linear-gradient(90deg,#7c3aed,#a855f7);

}

.section{

padding:120px 8%;

}

.title{

font-size:3rem;

font-weight:700;

margin-bottom:20px;

}

.subtitle{

color:#a1a1aa;

font-size:18px;

line-height:1.8;

}

button{

cursor:pointer;

transition:.3s;

}